.modal {
    position: fixed;
    bottom: 40%;
    left: 30%;
    border-radius: 2rem;
    background-color: rgb(184, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128, 0.7);
}

.addIngr {
    width: 40%;
    height: 40%;
}
.editIngr {
    width: 40%;
    height: 40%;
    
}

.ingrForm {

}