.form {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 80%;
    /* height: 14rem; */
    height: 0rem;
    min-width: 94.5%;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height 0.4s ease-in-out;
}

.search {
    width: 90%;
    padding: .5rem 0.5rem .5rem;
    border: none;
    border-radius: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
}

.search::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}

.dropItem {
    min-width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* gap: .1rem; */
    transition: background-color 0.5s;
}

.dropItem:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
}

.type {
    margin: 1rem;
    font-family: var(--secondary-font);
    font-size: .8rem;
}

.name {
    font-family: var(--secondary-font);
    font-size: .8rem;
}