.form {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 80%;
    height: 14rem;
    min-width: 94.5%;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
}

.search {
    width: 90%;
    padding: .5rem 0.5rem .5rem;
    border: none;
    border-radius: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
}

.search::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}