.container {
    height: 100%;
    background-color: rgb(234, 234, 234);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 0.9em;
}

.plus {
    margin: 0;
    font-size: 3em;
    color: rgba(183, 183, 183);
    text-align: center;
}

.txt {
    text-align: center;
}

.container:hover {
    cursor: pointer;
}