.card {
    display: inline-block;
    width: 10%;
    height: 12rem;
    background-color: beige;
    border-radius: 1rem;
}

.cardBtns {
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
}