.cardImg {
    width: 100%;
    height: 45%;
}

.cardDesc {
    width: 100%;
    height: 33%;
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
}

.cardDesc p {
    padding: .3em;
    font-family: var(--main-font);
    font-weight: 600;
    color: rgb(245, 245, 245);
}