.cardImg {
    width: 100%;
    height: 60%;
}

.cardDesc {
    width: 100%;
    height: 30%;
    background-color: rgb(230, 221, 180);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
}

.cardDesc p {
    padding: .3em;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 600;
    color: black;
}