.amount {
    width: 5%;
}

.basicAmount {
    width: 15%;
}

.type {
    width: 10%;
}

.basicType {
    width: 35%;
}

.name {
    width: 20%;
}

.basicName {
    width: 35%;
}

.desc {
    width: 35%;
}

.time {
    width: 20%;
}

.btns {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5em;
}

.edit {
    background-color: var(--button-edit-color);
    border: .1em solid var(--button-edit-color);
    color: black;
}

.delete {
    background-color: var(--button-delete-color);
    border: .1em solid var(--button-delete-color);
}

.submit {
    background-color: var(--button-submit-color);
    border: .1em solid var(--button-submit-color);
}

.itemData {
    font-family: var(--main-font);
    text-align: center;
    /* border: .1em solid black; */
}

.inAmt {
    width: 20%;
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: var(--main-font);
}

.inType {
    width: 90%;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    font-family: var(--main-font);
}

.inName {
    width: 90%;
    font-family: var(--main-font);
}

.inDesc {
    width: 90%;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: center;
    font-family: var(--main-font);
}

.inHour {
    width: 20%;
    padding-top: .3em;
    padding-bottom: .3em;
    font-family: var(--main-font);
}

.inMin {
    width: 20%;
    padding-top: .3em;
    padding-bottom: .3em;
    font-family: var(--main-font);
}

.inSec {
    width: 20%;
    padding-top: .3em;
    padding-bottom: .3em;
    font-family: var(--main-font);
}