.page {
    /* "position" is strictly used here for rendering load screen in an absolute positioning within page context */
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 80%;
    row-gap: 5rem;
    justify-content: center;
}

.gridNav {
    margin-top: 1rem;
    grid-column: 1 / 6;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.gridContent {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(5, minmax(12%, 12%));
    grid-auto-rows: minmax(0, 12rem);
    column-gap: 7%;
    row-gap: 12%;
    justify-content: center;
}