.page {
    /* "position" is strictly used here for rendering load screen in an absolute positioning within page context */
    position: relative;
    background-color: rgba(250, 250, 250, 0.479);
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
}

.gridNav {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.gridContent {
    width: 75%;
    height: 100%;
    margin: 0 auto 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5.9rem;
}