.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: 10%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btns {
    list-style: none;
    width: 20%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header {
    height: 10%;
    margin: 0;
    background-color: var(--main-bg-color);
    /* font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.content {
    position: relative;
    height: 60%;
}

.default {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 2;
}

.default section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
}

.contentTitle {
    margin: 0;
    font-family: var(--main-font);
    font-size: 1.5rem;
}

.contentBody {
    margin: 0;
    font-family: var(--main-font);
    font-size: 1rem;
}

.footer {
    height: 20%;
    background-color: var(--main-bg-color);
}

.create {
    position: absolute;
    bottom: calc(50% - 85%/2);
    left: 75%;
    background-color: white;
    border-radius: 1rem;
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.logInSwitchBtn {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
}

.logIn {
    position: absolute;
    bottom: calc(50% - 70%/2);
    left: 75%;
    background-color: white;
    border-radius: 1rem;
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em
}

.form h2 {
    margin: 0;
    font-family: var(--secondary-font);
}



.form div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.user, .pass {
    padding: 1em 1em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0.03em -0.03em 0.3em 0 rgba(0, 0, 0, 0.5);
}

.email, .number,
.createPass, .repeatPass {
    padding: 1em 1em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0.03em -0.03em 0.3em 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    0% {
        left: 105%;
    }
    100% {
        left: 75%;
     }
}
