.recipePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headLeft {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headCenter {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headCenter h1 {
    margin: 0;
    font-family: var(--main-font);
}

.headCenter p {
    font-family: var(--main-font);
}

.headRight {
    width: 33%;
}

.itemTable {
    table-layout: fixed;
    width: 60%;
}

.tableHeader th{
    font-family: var(--main-font);
    font-size: 1em;
    border-bottom: 1px solid black;
}

.backBtn {
    background-color: var(--button-back-color);
    border: .1em solid var(--button-back-color);
    color: black;
}