.shoppingListPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headLeft {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headCenter {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headCenter h1 {
    margin: 0;
    font-family: var(--main-font);
}

.headRight {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}