.nav {
    /* height: 3em; */
    background-color: rgb(237, 237, 237, .47);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.acctList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.acctNav {
    width: 50%;
    height: 100%;
}

.logoNav {
    width: 50%;
    height: 100%;
    margin-left: 6em;
}

.logOut {
    margin-right: 1.5em;
}
