@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@400&display=swap');

:root {
    --main-bg-color: rgb(61, 131, 97);
    --secondary-bg-color: rgba(214, 205, 164, 0.103);
    --button-delete-color: rgb(226, 53, 53);
    --button-edit-color: rgb(200, 200, 200);
    --button-submit-color: rgb(43, 172, 43);
    --button-back-color: rgb(200, 200, 200);

    --button-site-theme: rgb(174, 165, 124);
    
    --main-font: "Libre Baskerville";
    --secondary-font: "Open Sans";
}

body {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow-y: scroll;
}

#root {
    height: 100vh;
}

.button-site-theme {
    border: .1em solid var(--button-site-theme);
    background-color: var(--button-site-theme);
    color: rgb(237, 235, 235);
    font-size: 1rem;
    border-radius: .3rem;
    padding: .5rem 1rem .5rem;
    box-shadow: -0.1rem 0.1rem 1px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.button-close-theme {
    border: .1rem solid var(--button-back-color);
    background-color: var(--button-back-color);
    color: black;
    font-size: 1rem;
    border-radius: .3rem;
    padding: .5rem 1rem .5rem;
    box-shadow: -0.1rem 0.1rem 1px 0 rgba(0, 0, 0, 0.5);
}

.button-site-theme:hover {
    cursor: pointer;
}

.button-close-theme:hover {
    cursor: pointer;
}

.button-site-theme:active {
    box-shadow: 0.01rem -0.01rem 1px 0 rgba(0, 0, 0, 0.5);
}

.button-close-theme:active {
    box-shadow: 0.01rem -0.01rem 1px 0 rgba(0, 0, 0, 0.5);
}

.act-nav-logo {
    width: 4em;
    height: 2em;
}

.banner-logo {
    width: 23em;
    height: 11em;
    border-top: 0.2em solid black;
    border-left: 0.5em solid black;
    border-right: 0.5em solid black;
    border-bottom: 0.7em solid black;
    border-radius: 0.3em;
    /* background-color: white; */
    /* background-color: rgba(232, 232, 205, 0.862); */
}

.home-logo {
    width: 23em;
    height: 11em;
    z-index: 2;
}

.errorMessage {
    text-align: center;
    font-family: var(--secondary-font);
}

.modal-error {
    position: absolute;
    bottom: 25%;
    min-width: 100%;
    padding: .5rem;
    background-color: rgba(255, 0, 0, 0.769);
    border-radius: .5rem;
    opacity: 0;
    animation: fade-error .3s forwards;
}

@keyframes fade-error {
    100% {
        opacity: 1;
    }
}