@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow-y: scroll;
}

/* #root {
    height: 100%;
} */

/* .content {
    height: 100%;
} */

.button-site-theme {
    border: .1rem solid rgb(15, 85, 51);
    background-color: rgb(61, 131, 97);
    color: rgb(237, 235, 235);
    border-radius: .3rem;
    padding: .5rem 1rem .5rem;
    box-shadow: -0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.button-site-theme:hover {
    cursor: pointer;
}

.button-site-theme:active {
    box-shadow: 0.01rem -0.01rem 0.1rem 0 rgba(0, 0, 0, 0.5);
}

.act-nav-logo {
    width: 4em;
    height: 2em;
}

.banner-logo {
    width: 23em;
    height: 11em;
    border-top: 0.2em solid black;
    border-left: 0.5em solid black;
    border-right: 0.5em solid black;
    border-bottom: 0.7em solid black;
    border-radius: 0.3em;
    /* background-color: white; */
    /* background-color: rgba(232, 232, 205, 0.862); */
}